name: tests
on: [push, pull_request]
jobs:
  tests:
    strategy:
      matrix:
        go-version: [1.20.x, 1.21.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        name: "install go"
        with:
          go-version: ${{ matrix.go-version }}
      - name: "tests"
        run: make test
